.events {
  padding: 3rem 1.5rem;
}

.eventBox {
  display: flex;
}

.imgBox {
  margin: 0 auto;
  padding: 0 4rem;
}

.headingBox {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
}

.heading {
  font-size: 7rem;
  font-family: "Poppins";
  text-transform: uppercase;
  color: transparent;
  font-weight: 700;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: #9c198d;
  text-shadow: 0 0 3px rgb(7, 2, 1), 0 0 2px rgb(45, 10, 10),
    0 0 1px rgb(152, 43, 145);
  animation: glow 0.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 1px rgb(23, 6, 5), 0 0 1px rgb(205, 44, 16),
      0 0 1px rgb(84, 12, 12);
  }
  100% {
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 12px rgb(139, 8, 8),
      0 0 1px rgb(194, 10, 65);
  }
}

.para {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  line-height: 2.9rem;
  margin-bottom: 2.5rem;
  font-weight: 300;
  color: rgb(239, 214, 239);
}

.img {
  width: 85%;
}

.button1 {
  padding: 1em 2em;
  font-size: 16px;
  font-family: 'poppins';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #000;
  background-color: #ce33c3;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 270px;
  text-decoration: none;
  text-align: center;
}

.button1:hover {
  background-color: #9f3098;
  box-shadow: 0px 15px 20px rgba(233, 38, 255, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button1:active {
  transform: translateY(-1px);
}
@media screen and (max-width: 480px) {
  .eventBox {
    flex-direction: column;
    gap: 4rem;
  }

  .btn {
    align-self: center;
  }
  .heading{
    animation: none;
  }
}

