@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: myFirstFont2;
    src: url(Blanka-Regular.otf);
}
@font-face {
    font-family: myFirstFont3;
    src: url(Calamity-Regular.otf);
}
@font-face {
    font-family: bit;
    src: url(joystix monospace.otf);
}

.hero {
    width: 100%;
    background: url('/public/assets/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position:relative;
     top:0px; right:0px; bottom:0px; left:0px;
}

.herobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 4rem;
}

.headerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-family: myFirstFont3;
    font-size: 12rem;
    font-weight: bolder;
    display: inline-block;
    margin-top: 90px;
    background-color: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 10px;
}
.heading2023{
    font-family:myFirstFont3;
    margin-left: 10px;
}
.heading20{
    font-family:myFirstFont3;
    margin-left: 10px;
    font-size: 80px;
}


.tharang, .heading2023 {
    line-height: 1; /* Set line-height to 1 to ensure the same height */
    /* Other styles for each part */
  }
.logo{
    margin-bottom: 3.5rem;
}

.caption {
    font-style: italic;
    font-family:bit;
    padding: 10px;
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.date {
    color: #fff;
    font-style: italic;
    font-family:bit;
    font-size: 3rem;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 3rem;
    
}

.btn {
    display: block;
        background-image: linear-gradient(to top right,#09B326, #32B4ED);
        
        padding: 1.1rem 1rem;
        border: none;
        border-radius: 15px;
        font-family:bit;
        font-size: 2.4rem;
        font-weight: 600;
        color: #fff;
        width: 30rem;
        cursor: pointer;
        transition: all .2s;
}

.btn:hover {
    transform: translateY(-.1rem);
    background-image: linear-gradient(to top left,#09B326, #32B4ED);
}

.btn:active {
    transform: translateY(0);
}

.anchorBtn {
    text-decoration: none;
}




.countdownbox {
    color: #fff;
    font-style: italic;
    font-family:bit;
    font-size: 3rem;
    font-weight: 200;
    border: 3px solid #fff;
    border-radius: 1px;
    padding: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.countdown {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.column {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:480px) {
    .herobox {
        justify-content: center;
    }
    
    .hero{
       background-position: center center;
    }

    .logo {
        width: 50rem;
    }

    .headerbox {
        padding: 2rem 0;
    }

    .heading {
        font-size: 8rem;
    }

    .btn {
        display: block;
        background-image: linear-gradient(to top right,#09B326, #32B4ED);
        padding: 1.1rem .5rem;
        border: none;
        border-radius: 5px;
        font-size: 2.4rem;
        font-weight: 600;
        color: #fff;
        width: 30rem;
        cursor: pointer;
        transition: all .2s;
    }

    .countdownbox {
        column-gap: 1rem;
    }
}

