@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: myFirstFont2;
    src: url(Blanka-Regular.otf);
}
@font-face {
    font-family: myFirstFont3;
    src: url(Calamity-Regular.otf);
}

@font-face {
    font-family: bit;
    src: url(joystix-monospace.otf);
}
.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* Full height */
    overflow: hidden; /* Hide the overflow */
    /* Other styles... */
  }
  
  .videoBackground {
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    left: 0;
    width: 100vw; /* Viewport width */
    height: 100vh; /* Viewport height */
    object-fit: cover;
    z-index: -1;
  }
  
  
.herobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 4rem;
}

.headerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-family: myFirstFont3;
    font-size: 12rem;
    font-weight: bolder;
    display: inline-block;
    margin-top: 90px;
    background-color: #f4d8f5;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 10px;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.848);
}
.heading2023{
    font-family:myFirstFont3;
    margin-left: 10px;
}
.heading20{
    font-family:myFirstFont3;
    margin-left: 10px;
    font-size: 80px;
}


.tharang, .heading2023 {
    line-height: 1; /* Set line-height to 1 to ensure the same height */
    /* Other styles for each part */
  }
.logo{
    margin-bottom: 3.5rem;
}

.caption {
    font-style: italic;
    font-family:bit;
    padding: 10px;
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.848);
}

.date {
    color: #fff;
    font-style: italic;
    font-family:bit;
    font-size: 3rem;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.848);
    
}

.btn {
    display: block;
        background-image: linear-gradient(to top right,#09B326, #32B4ED);
        
        padding: 1.1rem 1rem;
        border: none;
        border-radius: 15px;
        font-family:bit;
        font-size: 2.4rem;
        font-weight: 600;
        color: #fff;
        width: 30rem;
        cursor: pointer;
        transition: all .2s;
        
}

.btn:hover {
    transform: translateY(-.1rem);
    background-image: linear-gradient(to top left,#09B326, #32B4ED);
}

.btn:active {
    transform: translateY(0);
}

.anchorBtn {
    text-decoration: none;
}




.countdownbox {
    color: #fff;
    font-style: italic;
    font-family:bit;
    font-size: 3rem;
    font-weight: 200;
    border: 3px solid #fff;
    border-radius: 1px;
    padding: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.848);
}

.countdown {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.column {
    font-size: 6rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:480px) {
    .herobox {
        justify-content: center;
    }
    
    .hero{
       background-position: center center;
    }

    .logo {
        width: 50rem;
    }

    .headerbox {
        padding: 2rem 0;
    }

    .heading {
        font-size: 8rem;
    }

    .btn {
        display: block;
        background-image: linear-gradient(to top right,#09B326, #32B4ED);
        padding: 1.1rem .5rem;
        border: none;
        border-radius: 5px;
        font-size: 2.4rem;
        font-weight: 600;
        color: #fff;
        width: 30rem;
        cursor: pointer;
        transition: all .2s;
    }

    .countdownbox {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem; /* space between columns */
      }
}
@media screen and (max-width: 768px) {
  .hero {
    height: auto; /* Adjust height for smaller screens */
    padding: 2rem 0; /* Example padding */
  }

  .herobox {
    padding: 2rem; /* Adjust padding for smaller screens */
  }

  .heading {
    font-size: 5rem; /* Adjust font size for smaller screens */
    margin-top: 40px; /* Adjust margin for smaller screens */
  }

  .caption {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    margin-top: 1rem; /* Adjust margin for smaller screens */
  }

  .date {
    font-size: 2rem; /* Adjust font size for smaller screens */
    margin-top: 1.5rem; /* Adjust margin for smaller screens */
  }

  .btn {
    width: 100%; /* Make button full width on smaller screens */
  }

  .countdownbox {
    font-size: 2rem; /* Adjust font size for smaller screens */
    padding: 2rem 1rem; /* Adjust padding for smaller screens */
    grid-template-columns: repeat(4, 1fr); /* Adjust grid columns for smaller screens */
  }
  

  .countdownbox .countdown:nth-child(7),
  .countdownbox .column:nth-child(6) {
    display: none;
  }

  /* Make days and hours take up the full width on mobile */
  .countdownbox .countdown {
    flex: 1; /* this makes each countdown box take up equal space */
    text-align: center; /* center the content */
  }
}
