.card {
  position: relative;
  margin: 5rem auto 30rem;
  width: auto;
  /* Adjust width based on image */
  height: auto;
  /* Adjust height based on image */
  color: #fff;
  padding: 1rem 0.9rem;
  perspective: 1000px;
  border-radius: 10px;
}


.card.clicked .cardInner {
  transform: rotateY(180deg);
  transition: transform 1s;
}

.cardInner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.imgBox {
  width: auto;
  /* Adjust width based on image */
  height: auto;
  /* Adjust height based on image */
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right, #5a006a, #e0b5ff, #ffffff);
  border-image-slice: 1;
}

.img {
  display: block;
  max-width: 100%;
  /* Ensure the image is responsive */
  height: auto;
  object-fit: cover;
}

.textBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.9rem 0.3rem;
  gap: 1.5rem;
  height: 30rem;
  justify-content: flex-end;
}

.heading {
  font-size: 2.3rem;
  text-align: center;
  height: 5rem;
  font-family: "Poppins", sans-serif;
}

.btn {
  background-image: linear-gradient(to bottom right, #5a006a, #e0b5ff, #ffffff);
  padding: 0.5rem 1.7rem;
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s;
  text-decoration: none;
  list-style: none;
  justify-self: flex-end;
}

.cardFront,
.cardBack {
  position: absolute;
  backface-visibility: hidden;
  justify-content: center;
}

.cardFront {
  margin: 0 auto;
}

.cardBack {
  transform: rotateY(180deg) translateZ(1px);
  margin: 0 auto;
  backface-visibility: visible;
  width: 100%;
  height: 100%;
}

.cardBack .eventdescr {
  text-align: center;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.backContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right, #5a006a, #e0b5ff, #ffffff);
  border-image-slice: 1;
  height: 28rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  padding: 0 20px;
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
  box-shadow: hsl(296, 98%, 22%) 0px 7px 0px 0px;
  background-color: hsl(296, 79%, 31%);
  border-radius: 12px;
  overflow: hidden;
  transition: 31ms cubic-bezier(0.5, 0.7, 0.4, 1);
  max-height: 40px;
  max-width: 150px;
}

button:before {
  content: attr(alt);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  opacity: 1;
}

button:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(0.5, 0.7, 0.4, 1);
}

button:hover:before {
  transition: all 0s;
  transform: translateY(100%);
  opacity: 0;
}

button i {
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 4px;
  font-style: normal;
  transition: all 2s ease;
  transform: translateY(-20px);
  opacity: 0;
}

button:hover i {
  transition: all 0.2s ease;
  transform: translateY(0px);
  opacity: 1;
}

button:hover i:nth-child(1) {
  transition-delay: 0.045s;
}

button:hover i:nth-child(2) {
  transition-delay: calc(0.045s * 3);
}

button:hover i:nth-child(3) {
  transition-delay: calc(0.045s * 4);
}

button:hover i:nth-child(4) {
  transition-delay: calc(0.045s * 5);
}

button:hover i:nth-child(6) {
  transition-delay: calc(0.045s * 6);
}

button:hover i:nth-child(7) {
  transition-delay: calc(0.045s * 7);
}

button:hover i:nth-child(8) {
  transition-delay: calc(0.045s * 8);
}

button:hover i:nth-child(9) {
  transition-delay: calc(0.045s * 9);
}

button:hover i:nth-child(10) {
  transition-delay: calc(0.045s * 10);
}

@media (max-width: 768px) {
  .card {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    flex: 0 0 auto;
    width: 30vh;
    height: 42vh;
    margin: 2rem auto;
    padding: 0.5rem;
    
  }

  .img {
    width: 100%;
  }

  .heading {
    font-size: 1.8rem;
    margin: 0.5rem 0;
  }

  .cardBack .eventdescr p {
    font-size: 0.8rem;
    margin: 0.2rem 0;
  }

  .redirectLink {
    font-size: 1rem;
    max-width: 120px;
    max-height: 35px;
  }

  button i {
    font-size: 12px;
  }
}