:root {
    --DeepPurple: #5A006A;
    --Lavender: #E0B5FF;
    --DeepSpace: #000000;
    --StarWhite: #FFFFFF;
}

.header {
    position: fixed;
    width: 95%;
    left: 50%;
    transform: translate(-50%);
    padding: 3.3rem 2.5rem;
    color: var(--StarWhite);
    z-index: 100;
    transition: all .4s ease-in-out;
}

.scrolledHeader {
    width: 95%;
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    background: var(--Glasscolour, linear-gradient(0deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.32) 100%), radial-gradient(2312.28% 117.96% at 73.67% 49.61%, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(3465.68% 199.39% at 27.42% 57.87%, rgba(101, 101, 101, 0.00) 0%, rgba(255, 255, 255, 0.00) 100%));
    backdrop-filter: blur(8px);
    padding: 2rem;
    color: var(--StarWhite);
    z-index: 100;
    border-radius: 15px;
    transition: all .4s ease-in-out;
}
.elements {
    display: flex;
    align-items: center;
}

.logobox {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    margin-right: auto;
}

.logo {
    width: 15%;
}

.hamburger {
    display: none;
}

.heading {
    font-size: 2.1rem;
}

.navbox {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
}

.navLink {
    align-items: center;
    text-decoration: none;
    list-style: none;
    margin-right: 3rem;
    font-weight: 500;
    cursor: pointer;
}

.navLink:after {
    content: '';
    display: block;
    width: 100%;
    transform: scaleX(0);
    height: 3.5px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #5A006A, #E0B5FF,#FFFFFF);
    transform-origin: bottom right;
    transition: transform 0.25s ease-in-out;
  }

  .homeLink {
      color: inherit;
      text-decoration: none;
  }

  .navLink:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .active {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .dropLink {
      width: 8.5rem;
      display: inline-block;
      text-align: center;
      align-items: center;
    text-decoration: none;
    margin-right: 3rem;
    cursor: pointer;
      background-image: linear-gradient(to bottom right,#5A006A, #E0B5FF,#FFFFFF);
    -webkit-background-clip: text;
	/* -webkit-text-fill-color: transparent; */
    color: transparent;
    font-weight: 700;
  }

.btn {
    background-image: linear-gradient(to bottom right,#5A006A, #E0B5FF,#FFFFFF);
    padding: .9rem 1.3rem;
    border: none;
    border-radius: 7px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    width: 12rem;
    cursor: pointer;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-.1rem);
    background-image: linear-gradient(to top left,#5A006A, #E0B5FF,#FFFFFF);
}

.btn:active {
    transform: translateY(0);
}

.mobileBox {
    display: none;
}

.none {
    display: none;
}

.mobileNav li {
    list-style: none;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.mobileNav li:nth-child(4) {
    margin-top: 2rem;
}

.mobLink {
    padding: 2rem;
    font-size: 2.7rem;
    background-image: linear-gradient(to bottom right,#5A006A, #E0B5FF,#FFFFFF);
    -webkit-background-clip: text;
	/* -webkit-text-fill-color: transparent; */
    color: transparent;
    font-weight: 700;
}

@media screen and (max-width: 480px) {
    .logo {
        width: 30%;
    }
    
    .nav {
        display: none;
    }

    .btn {
        display: none;
    }

    .btn1 {
        background-image: linear-gradient(to bottom right,#5A006A, #E0B5FF,#FFFFFF);
        padding: .9rem 1.3rem;
        border: none;
        border-radius: 5px;
        font-size: 1.9rem;
        font-weight: 600;
        color: #fff;
        width: 15rem;
        margin: 2rem auto;
    }
    

    .hamburger {
        display: inline-block;
        margin-right: .5rem;
    }

    .none {
        width: 95%;
        position: absolute;
        top: -50rem;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
         background-color: rgba(0, 0, 0, 0.527);
        border-radius: 10px;
        padding: 1.3rem 2rem;
        text-align: center;
        transition: all .4s;
    }
    
    .mobileBox {
        width: 95%;
        position: absolute;
        top: 12rem;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.89);
        border-radius: 10px;
        padding: 1.3rem 2rem;
        text-align: center;
        transition: all .8s;
    }
}

