
.card {
    position: relative;
    margin: 5rem auto 30rem; /* Adjusted margin to create space between cards */
    width: 34rem;
    color: #fff;
    padding: 2rem 0.9rem;
    perspective: 1000px;
    &.clicked .cardInner {
        transform: rotateY(180deg);
    }
}
.imgBox {
    width: 100%;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #09B326, #32B4ED);
    border-image-slice: 1;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.9rem .3rem;
    gap: 1.5rem;
    height: 10rem;
    justify-content: flex-end;
}

.heading {
    font-size: 2.4rem;
    text-align: center;
}

.btn {
    background-image: linear-gradient(to bottom right, #09B326, #32B4ED);
    padding: .5rem 1.7rem;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    transition: all .3s;
    text-decoration: none;
    list-style: none;
    justify-self: flex-end;
}

.cardInner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    &.clicked {
        transform: rotateY(180deg);
    }
}

.cardFront,
.cardBack {
    position: absolute;
    backface-visibility: hidden;
    justify-content: center;    
}

.cardFront {
    margin: 0 auto;
}

.cardBack {
    transform: rotateY(180deg) translateZ(1px); /* Adjusted transform to hide the backside */
    margin: 0 auto;
    backface-visibility: visible;
    width: 100%;
   
}
.cardBack .eventdescr {
    text-align: center; /* Center the text within the eventdescr div */
    margin-top: 1rem;
    font: poppins;
    font-weight: bold;
  }

.backContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #09B326, #32B4ED);
    border-image-slice: 1;
    margin: relative;
}

button {
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  button::before {
    margin-left: auto;
   
  }
  
  button::after, button::before {
    content: '';
    width: 0%;
    height: 2px;
    background-image: linear-gradient(to bottom right, #09B326, #32B4ED);
    display: block;
    transition: 0.5s;
  }
  
  button:hover::after, button:hover::before {
    width: 100%;
  }
