.preLoader {
  position: absolute;
  background-color: black;
  height: 100%!important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Changed from center to space-between */
  flex-direction: column; /* Keep this as is */
  animation: trans 1.4s linear 1.3s 1 normal forwards;
  z-index: 999999;
  background-image: url('./wait.svg');
  background-size: cover;    
  background-repeat: no-repeat;    
  background-position: center;     
  padding-bottom: 50px; /* Adding some padding to the bottom */
  position:absolute; top:0px; right:0px; bottom:0px; left:0px;
}

.scoreDisplay {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #fff;
  position: absolute;  /* Absolute positioning */
  bottom: 10px;        /* Place it 10 pixels from the bottom */
  left: 50%;           /* Center it horizontally */
  transform: translateX(-50%);  /* Adjust for true centering */
}
.preLoaderLogo {
  height: 300px;
  animation: logo 5s;
  opacity: 0;
  margin-bottom: 3rem;
  cursor: pointer; /* Show pointer cursor when hovering over the logo to indicate it's clickable */
}

.preLoaderheading {
  font-family: myFirstFont;
  font-size: 10rem;
  font-weight: bolder;
  display: inline-block;
  background-image: linear-gradient(to bottom, #b30909, #990000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: logo 5s;
  opacity: 0;
}

@keyframes logo {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes trans {
  from {
    margin-top: 0;
    opacity: 1;
  }

  to {
    margin-top: -100vh;
    opacity: 0;
  }
}
