.footer {
  background: #150620;
  color: #fff;
  padding: 1.5rem 1rem;
  font-size: 1rem;
  text-align: center;  /* Ensures content is always centered */
  transition: background 0.3s;
  position: relative;
  
  z-index: 1000;
  
}

.footer:hover {
  background: #33053e;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  
}

.logo {
  width: 60%;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.socialIcons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  
}

.icons {
  font-size: 2rem;
  transition: transform 0.3s, color 0.3s;
  color: #ccc;
  
}

.icons:hover {
  transform: scale(2.1);
  color: #ffffff;
}
.col{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  color: #ffffff;
}
.col a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin: 0.5rem 2rem;
  transition: color 0.3s;
}

.col a:hover {
  color: #ccc;
  
    transform: scale(2.1);
    color: #ffffff;
  
}

.copyright {
  margin-top: 1rem;
  color: #ccc;
  font-size: 0.8rem;
  text-align: center;  /* Ensures copyright is always centered */
}

