@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  html {
    font-size:45%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background: url('/public/assets/bg2.jpg'); /* Assuming the public directory is at the root level */
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
  height: 100vh;
}
.videoBackground {
  position: fixed; /* Changed from absolute to fixed */
  top: 0;
  left: 0;
  width: 100vw; /* Viewport width */
  height: 100vh; /* Viewport height */
  object-fit: cover;
  z-index: -1;
  filter: blur(10px); /* Add this line to blur the video */
}
